{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "react-hooks"],
  "rules": {
    "react/prefer-stateless-function": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "prefer-destructuring": 0,

  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}
