@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all text-blue-500 decoration-blue-500 underline-offset-2 decoration-[0.05em];
}

.prose .anchor:after {
  @apply text-neutral-300;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose blockquote p {
  @apply indent-2 ml-1 text-sm text-neutral-600 py-3 px-2;
}

.prose blockquote p:before {
  @apply font-noto_serif text-neutral-600 text-2xl align-bottom mr-0.5;
  content: "“";
}

.prose blockquote p:after {
  @apply font-noto_serif text-neutral-600 text-2xl align-top ml-1;
  content: "”";
}

.prose pre {
  @apply bg-neutral-50 rounded-lg overflow-x-auto border border-neutral-200 py-2 px-3 text-sm my-6;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg break-keep text-wrap;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-600 font-normal break-keep text-sm md:text-base;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-noto_serif font-medium;
}

.prose h1 {
  @apply text-2xl tracking-tight mt-6 mb-5;
}

.prose h2 {
  @apply text-lg tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-base tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-sm tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-bold;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

article hr {
  @apply my-12 border-neutral-200;
}

.prose .katex-display .katex {
  @apply text-base md:text-lg;
}

.prose .katex-display {
  @apply mt-8;
}

.katex-display + .katex-display {
  @apply mt-10;
}
